.header {
  color: #fff;
  display: flex;
  height: 100px;
  align-items: center;
  justify-content: space-between;
}

.header > .navItems > div {
  margin: 10px;
}
.header > .navItems > div > div {
  margin: 10px;
}

.punkLogo {
  width: 200px;
}

.searchBar {
  background-color: #1c1c1e;
  flex: 1;
  height: 50px;
  display: flex;
  border-radius: 50px;
  align-items: center;
}

.searchInput {
  background-color: transparent;
  border: none;
  font-size: 16px;
  width: 100%;
  color: #eee;
  outline: none;
}

.headerItems {
  display: flex;
}

.headerItems > p {
  padding: 5px;
}

.themeSwitchContainer {
  background: #1c1c1e;
  border-radius: 50px;
  display: flex;
  padding: 15px;
  justify-content: center;
  align-items: center;
  object-fit: contain;
}

.themeSwitchContainer > img {
  height: 25px;
}

.loginButton {
  background: linear-gradient(to right, #59f9b7, #66feea);
  padding: 15px 40px;
  border-radius: 50px;
  color: #000;
}

.navItems {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
}

/* .navToggle {
  display: none;
} */

@media screen and (max-width: 1000px) {
  .navItems {
    display: none;
  }
}

@media screen and (max-width: 500px) {
  .navItems {
    display: none;
  }
}
